<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    :root{
        --bp: none;
        --bf: 1px solid black;
    }
    
    *{
        padding: 0;
        margin: 0;
        box-sizing: content-box;
    }
    
    #headCompleto{
        width: 100%;
        height: 60vh;
        border: var(--bp);

        background-repeat: no-repeat;
        background-size: 100% 1550%;
    }
    
    
    .containers{
        border: var(--bp);
        width: 100%;
        display: flex;
    }
    
    #menu{
        height: 20%;
        justify-content: space-between;
        align-items: center;
        border: var(--bp);
    }
    
    
    .elementoMenu{
        height: 80%;
        border: var(--bp);
    }
    
    #nombreLogo{
        width: 25%;
        display: flex;
    }
    
    #opcionesMenu{
        width: 40%;
    }
    
    #containerLogo{
        height: 100%;
        width: 30%;
        border: var(--bp);
    }
    
    #logo{
        width:115%;
        height: 120%;
    }
    #containerNombre{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 5%;
        
    }
    #nombre{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 3vw;
    }
    
    #opcionesMenu{
        display: flex;
        justify-content: space-between;
        width: 50%;
    
    }
    
    
    .opciones{
        height: 100%;
        border: var(--bp);
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    
    a{
        text-decoration: none;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        
    }
    
    a:hover{
        color: red;
        transform: scale(1.2);
    }
    </style>
    <body>
        <div id="headCompleto">
    
            <div id="menu" class="containers">
    
                    <div id="nombreLogo" class="elementoMenu">
    
                            <div id="containerLogo">
                                <img id="logo" src="img/logo.png" alt="">
    
    
                            </div>
    
    
                            <div id="containerNombre">
    
                                <h2 id="nombre">Flashi</h2>
    
    
                            </div>
    
    
                    </div>
    
    
    
                    <div id="opcionesMenu" class="elementoMenu">
    
                            <div class="opciones">
                               <a class="opcion" href="localhost:5000/principal.html"><h2 >Inicio</h2></a>
    
    
                            </div>
    
    
                            <div class="opciones">
                                <a class="opcion" href="contacto.html"><h2 >Contacto</h2></a>
    
                            </div>
    
    
                            <div  class="opciones">
    
                                <a class="opcion" href="term_of_service.html"><h2 >Terminos y Condiciones</h2></a>
    
                            </div>
    
    
    
                    </div>
    
    
    
    
            </div>
            <div id="contenedorTabla">
    <h1 >Pedidos de <%=pedidosS[0].restaurante%></h1>

    <style>
        table,td,tr{
            border-collapse: collapse;
            border: 1px solid black;
        }
        table{
            position: relative;
            top:5vh;
        }

        #contenedorTabla{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

    </style>

    
    
    <table>
            <tr>
                <th>N°</th>
                <th>Cliente</th>
                <th>Comida</th>
                <th>Precio</th>
            </tr>
        
        <%let i=0;%>
        <% while(i< pedidosS.length){ %>
            <tr>
                <td><%=pedidosS[i].id%></td>
                <td><%=pedidosS[i].cliente%></td>
                <td><%=pedidosS[i].comida%></td>
                <td><%=pedidosS[i].precio%></td>
            </tr>
        
        <% i++; } %>
    </table>
    </div>







    <div id="aboutOf" class="containers">

        <div id="allInformation">

                <div class="containersInfo" id="sobreFlashi">
                        <div class="nombres">
                            <h2>Sobre Flashi</h2>

                        </div>

                        <div .links>

                            <a class="items" href="">Contacto</a><br>
                            <a class="items" href="">Politicas de Privacidad</a> <br>
                            <a class="items" href="">Terminos y Condiciones</a>


                        </div>

                </div>

                <div class="containersInfo" id="uneteFlashi">

                    <div class="nombres">
                        <h2>Unete a Flashi</h2>

                    </div>

                    <div .links>
                            <a class="items" href="">Registra tu Restaurante</a><br>
                            <a class="items" href="">Trabaja con Nosotros</a> <br>
                            <a class="items" href="">Conviertete en Flashienvio</a>


                    </div>

                </div>

                <div class="containersInfo" id="Paises">
                    <div class="nombres">

                        <h2>Paises</h2>
                        

                    </div>

                    <div id="paises">
                        <form>
                            <select id="selectPaises">
                                <option value="">Argentina</option>
                                <option value="">Bolivia</option>
                                <option value="">Paraguay</option>
                                <option value="">Brasil</option>
                                <option value="">Perú</option>
                            </select>
                        </form>


                    </div>

                </div>

        </div>


    </div>


    <style>

.containers{
        border: var(--bp);
        width: 100%;
        display: flex;
    }
        #aboutOf{
    background-color: #ffa71e;
    height: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    }

#allInformation{
        width: 60%;
        border: var(--bp);
        display: flex;
        justify-content: space-between;
    
    }

    .containersInfo{
        height: 100%;
        width: 30%;
        border: var(--bp);
        display: flex;
        flex-direction: column;
    }

    #paises{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 100%;
    }
    
    #selectPaises{
        width: 120%;
    
    }

    .items{
        text-decoration: none;
        margin-left: 16%;
        color: black;
        font-size: 1.2vw;
    }
    
    .items:hover{
        text-decoration: underline;
        margin-left: 25%;
        color: red;
    }

    .nombres{
        border: var(--bp);
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5vw;
    }
    </style>
</body>
</html>